# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\code\java_code\spring_mvc\SpringMVC入门与数据绑定源代码\Spring MVC入门与数据绑定源代码\form\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
